<div id="intro_btn" class="intro_bg" onclick="test()">
<img src="../img/10.png" alt="Briller Kim 작업 howtounit, 도자"/>
영상 Youtube 링크 
<a href="https://youtu.be/535nOLtc3ow" alt="Briller Kim 작업영상 보러가기">https://youtu.be/535nOLtc3ow</a>


<p>김은지는 조형의 기술적인 요소와 수행적인 요소에 대해 생각하고 그 사이에서 발생할 수 있는 가능성을 예술의 형태로 나타내고자 한다.
도자는 전통적으로 장인정신, 마스터리(숙달, 통달), 기예, 물레를 돌리고 흙을 굽는 시간을 다루는 재능, 정확히 어떤 형태와 색감이 나올지 모르지만 그를 예측해서 결과물을 만드는 능력을 갖춘 기술자에게 그 가치를 부여해 왔다. 이러한 도자의 ‘장인’적인 기술이 모두 또 다른 신기술로 대체될 경우, 도자에서 새로운 기술적인 요소와 수행적인 요소를 찾을 수 있지 않을까. 예를 들어 3D 프린팅이 장인의 마스터리를 대체할 때, 긴 시간과 노력, 미래를 예측해야하는 몇몇의 전통적인 능력은 사라지고, 도자라는 조형의 형태만 남는다. 여기서 작가가 취하는 태도는 여전히 도자를 하면서도, 기술적인 그리고 수행적인 요소를 다른 곳에서 찾는 실험을 하는 것이다. 전통적인 도자도, 김은지가 만들어 내는 도자도 모두 시간의 흐름과 수행적인 행위로, 작업이 완성된다. 도자를 굽는 반복적 행위와 실을 꿰는 반복적 행위는 ‘장인정신’과 ‘아우라’에 있어서 서로 다른 의미를 가지는가. 그렇다면 도자에는 실을 넘어서는 장인적 가치가 존재하는가. 그렇지 않다면 예술에 있어서 무언가를 수행하는 것 자체에 가치가 있는 것인가.
전통적인 도자 기술의 일부는 신기술로 대체되고, 수행성은 다른 형태로 남는다. 도자를 완성하는 기술적, 수행적 요소를 찾는 작가의 질문은 이내 관객에게 연결된다. 관객은 기술적 혹은 수행적으로 보이는 실을 꿰는 과정에 참여한다. 관객이 로테크와 하이테크 사이의 기술적인 부분에 가치를 둘지, 무엇인가를 반복하여 숙달되는 수행에서 가치를 찾을지를 알아보고자 한다. 글. 강민형 (바림 디렉터)
</p>


<span>글/ 강민형</span>
<span>영상, 편집/ 남동현</span>
<span>공간/ 아카이브 봄</span>
<span>Support/ XYZprinting</span>


<span>*이 페이지는 현재 전시 중인 10회 청주공예비엔날레를 위한 임시 페이지 입니다. </span>


<email>brillerkim@gmail.com</email>

    <!-- <input type="image" src="{{ site.baseurl }}/img/10.png" onclick="test()" /> -->
</div> <!--/.intro_img -->